# Author: RKOJ-ELENO :: 2026-05-23
node_modules/
.next/
.turbo/
out/
dist/
.env
.env.local
.env.*.local
*.log
.vercel
.DS_Store
coverage/
.cache/

# Prisma generated client
prisma/migrations/dev.db
prisma/migrations/dev.db-journal
