{# Author: RKOJ-ELENO :: 2026-05-23 #}
{% extends "base.html" %}
{% block title %}Thanks - {{ site.name }}{% endblock %}
{% block body_class %}thanks{% endblock %}

{% block content %}
<section class="page-head thanks-head">
  <div class="container">
    <span class="section-tag">Thanks</span>
    <h1 class="section-headline">Message<br><em>received.</em></h1>
    <p class="section-subheadline">Thank you for reaching out. We will be in touch shortly to discuss your project.</p>
    <p class="hero-cta-group">
      <a class="btn btn-primary btn-large" href="{{ url_for('index') }}">Back to home</a>
      <a class="btn btn-ghost btn-large" href="{{ url_for('portfolio') }}">Browse portfolio</a>
    </p>
  </div>
</section>
{% endblock %}
